{% extends 'registration/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}

<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">

                <h4 class="mt-0 header-title">Validation type</h4>
                <p class="text-muted m-b-30 ">Parsley is a javascript form validation
                    library. It helps you provide your users with feedback on their form
                    submission before sending it to your server.</p>

                <form class="" method="POST" action="{% url 'signup' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>username</label>
                        {{user_form|crispy}}
                        {{profile_form|crispy}}   
                    </div>
                    
                    <div class="form-group mb-0">
                        <div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light mr-1">
                                Submit
                            </button>
                            <button type="reset" class="btn btn-secondary waves-effect">
                                Cancel
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div> <!-- end col -->
  

    
{% endblock %}
